@import "../../assets/custom-css/variable";
@import "../../assets/custom-css/bacic";

.header{
  width: 100%;
  min-height: 45px;
  background: #148fce;
  padding: 4px 0px;
  position: fixed;
  z-index: 999;
  .logo{
    img{
      max-width: 32px;
    }
    span{
      color: $white;
      position: relative;
      top: 2px;
      left: 13px;
    }
  }
  .right-nav{
    text-align: right;
    ul{
      padding-left: 0px;
      margin-bottom: 0px;
      li{
        display: inline-block;
        list-style-type: none;
        position: relative;
      }
    }
    .dropdown-toggle{
      border: 0px;
    }
    img{
      width: 100%;
      max-width: 21px;
    }
    button{
      color: $white;
      span{
        color: $white;
        font-size: 14px;
      }
      &:hover, &:focus{
        background: transparent;
        border: 0px;
        box-shadow: none;
        cursor: pointer;
      }
    }
    .dropdown-item{
      color: #6f6f6f;
    }
    .dropdown-menu{
      left: 6px;
      border-radius: $border-radius;
    }
  }
}
