<div class="header">
<div class="container-fluid">
<div class="row">
  <div class="col-sm-8">
    <div class="logo">
      <img src="assets/images/logo.svg" class="img-fluid"><span>Falcon</span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="right-nav">
      <ul>
        <!--<li><img src="assets/icons/settings.svg"></li>-->
        <li>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><img src="assets/icons/user.svg"><span>&nbsp;&nbsp;Jack Sparrow</span> </button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Profile</button>
              <button class="dropdown-item" [routerLink]="['']">Sign Out</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
