/*--  Font Variables  --*/

$primary-font-family                  :'open-sans';

/*--  Color Variables  --*/
$white                                : #ffffff;
$black                                : #000000;
$primary-blue                         : #148fce;
$input-border-color                   : #e6e6e6;


/*--  Css Variables  --*/
$border-radius                         : 1px;
