<app-header></app-header>
<div class="main-body">
  <div class="container-fluid">
    <div class="row">
      <app-sidebar></app-sidebar>

    <div class="body-content">
      <app-chat-header></app-chat-header>

      <div class="chat-window" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
        <div class="container-fluid">
          <div class="row">
            <div class="single-chat">
              <div class="row">
                <div class="col-1">
                  <div class="chat-img">
                  <img src="assets/images/head-image.jpg">
                </div>
                </div>
                <div class="col-11">
                  <div class="chat-boxi">
                      <p>Hello, please do this task today</p>
                    <span class="chat-time">02:34 pm</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="single-chat">
              <div class="row">
                <div class="col-11">
                  <div class="chat-boxi chat-boxi-right">
                    <p>Okay sure why not</p>
                    <span class="chat-time">12:34 pm</span>
                  </div>
                </div>
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
              </div>
            </div>

            <div class="single-chat">
              <div class="row">
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
                <div class="col-11">
                  <div class="chat-boxi">
                    <p>If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals.</p>
                    <span class="chat-time">11:34 pm</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="single-chat">
              <div class="row">
                <div class="col-11">
                  <div class="chat-boxi chat-boxi-right">
                    <p>Lorem ipsum</p>
                    <span class="chat-time">02:24 pm</span>
                  </div>
                </div>
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
              </div>
            </div>

            <div class="single-chat">
              <div class="row">
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
                <div class="col-11">
                  <div class="chat-boxi">
                    <p>Lorem ipsum</p>
                    <span class="chat-time">02:34 pm</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="single-chat">
              <div class="row">
                <div class="col-11">
                  <div class="chat-boxi chat-boxi-right">
                    <p>Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.</p>
                    <span class="chat-time">02:34 pm</span>
                  </div>
                </div>
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="single-chat">
              <div class="row">
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
                <div class="col-11">
                  <div class="chat-boxi">
                    <p>Lorem ipsum</p>
                    <span class="chat-time">02:34 pm</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="single-chat">
              <div class="row">
                <div class="col-11">
                  <div class="chat-boxi chat-boxi-right">
                    <p>Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.</p>
                    <span class="chat-time">02:34 pm</span>
                  </div>
                </div>
                <div class="col-1">
                  <div class="chat-img">
                    <img src="assets/images/head-image.jpg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="chat-box">
        <div class="container-fluid">
        <div class="row">
          <div class="col-sm-11">
            <input type="text" placeholder="Type your Message" class="form-control">
          </div>
          <div class="col-sm-1">
            <i class="fa fa-send"></i>
          </div>
        </div>
      </div>
      </div>

    </div>
    </div>
  </div>
</div>
