@import "../../assets/custom-css/variable";
@import "../../assets/custom-css/bacic";

.main-body{
  width: 100%;
  float: left;
  height: 93vh;
  margin-top: 45px;
  position: relative;
  overflow: hidden;
}

.body-content{
  width: 100%;
  float: left;
  padding-left: 220px;
  height: 100vh;
}

.chat-box{
  width: calc(100% - 220px);
  float: left;
  position: absolute;
  bottom: 60px;
  input{
    border-radius: $border-radius;
    font-size: 14px;
    min-height: 43px;
  }
  .fa-send{
    background: #148fce;
    padding: 12px;
    border-radius: 50%;
    color: #fff;
  }
}

.chat-window{
  width: 100%;
  float: left;
  height: calc(100vh - 192px);
  padding: 15px 45px;
  overflow-y: auto;

  .single-chat{
    width: 100%;
    margin-left: 25px;
    margin-bottom: 35px;
    .chat-boxi{
      min-width: 300px;
      background: rgba(20, 143, 206, 0.03);
      min-height: 45px;
      padding: 6px;
      color: #797979;
      border-radius: 1px;
      border: 1px solid #f3f3f3;
      display: inline-block;
      font-size: 14px;
      position: relative;
    }
    .chat-boxi-right{
      float: right;
      background: rgba(87, 96, 101, 0.03);
    }
    .chat-time{
      position: absolute;
      top: 50px;
      font-size: 11px;
      right: 4px;
      color: #d4d4d4;
    }
    .chat-img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
