<div id="page-wrapper">
  <h1>WebSockets</h1>

  <div id="status">Connecting...</div>

  <ul id="messages"></ul>a

  <form id="message-form" action="#" method="post">
    <textarea id="message" placeholder="Write your message here..." required></textarea>
    <button type="submit">Send Message</button>
    <button type="button" id="close">Close Connection</button>
  </form>
</div>
