<div class="channel">
  <div class="container-fluid">
    <i class="fa fa-times" [routerLink]="['/homepage']"></i>
    <div class="row">
      <div class="col-sm-12">
        <div class="channel-header">
          <h5>Create a group</h5>
          <p>Groups are where your members communicate. They’re best when organized around a topic — #designers, for example.</p>
          <input type="checkbox" id="private" />
          <label for="private">Make a group private</label>
        </div>
      </div>
    </div>

    <div class="channel-form">
      <div class="row">
        <div class="col-sm-12">
          <form>
            <div class="form-group">
              <input type="text" placeholder="Give a friendly name to your group" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Purpose(Optional)" class="form-control">
            </div>
            <div class="form-group">
              <select class="form-control">
                <option value="1" disabled>Select to send invites</option>
                <option value="2">David Warner</option>
                <option value="2">John Doe</option>
              </select>
            </div>

            <button class="btn btn-primary">Create Group</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
