.channel{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 6%;
  &:hover .fa-times{
    display: block;
  }
  .channel-header{
    h5{
      font-size: 33px;
      color: #536171;
    }
    p{
      color: #777777;
    }
  }
  .fa-times{
    position: absolute;
    right: 0px;
    top: -45px;
    font-size: 20px;
    background: #f9f9f9;
    border-radius: 27px;
    padding: 11px 13px;
    color: #536175;
    display: none;
    &:hover{
      cursor: pointer;
    }
    &:focus{
      outline: 0;
    }
  }

  /* Base for label styling */
  input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    color: dimgrey;
  }

  /* checkbox aspect */
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
  }
  /* checked mark aspect */
  input[type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em;
    left: .3em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #2fb353;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  input[type="checkbox"]:disabled:not(:checked) + label:before,
  input[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  input[type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  input[type="checkbox"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  input[type="checkbox"]:checked:focus + label:before,
  input[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted #ddd;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid #148fce !important;
  }
}

.channel-form{
  width: 100%;
  margin-top: 25px;
  input,select{
    min-height: 53px;
  }
  .btn-primary{
    background-color: #27a949;
    border-color: #27a949;
    padding: 12px 25px;
    &:hover, &:focus{
      background: #20843a;
      border-color: #20843a;
      cursor: pointer;
      outline: 0;
      box-shadow: none;
    }
  }
}
