@import "../../assets/custom-css/variable";
@import "../../assets/custom-css/bacic";

.login-box{
  background: #F3F4F8;
  width: 100%;
  height: 100vh;
  .login-inner{
    width: 100%;
    max-width: 400px;
    margin: 95px auto;
    img{
      width: 100%;
      max-width: 90px;
      margin: 0 auto;
      display: block;
      margin-bottom: 70px;
    }
  }
  input{
    font-size: 14px;
    border-radius: 0px;
    min-height: 47px;
    border: 1px solid $input-border-color;;
  }
  .btn-primary{
    float: right;
    margin-top: 20px;
    width: 100%;
    max-width: 120px;
    border-radius: 43px;
    background-color: $primary-blue;
    border-color: $primary-blue;
    &:hover{
    cursor: pointer;
      box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.32);
  }
  }
  .forgot{
    font-size: 13px;
    margin-top: 28px;
    color: #6f6f6f;
  }
}

.left-box{
  width: 100%;
  height: 50vh;
  background: $primary-blue;
  padding: 50px;
  .top-box{
    h3{
      color: $white;
      font-size: 25px;
      font-weight: bold;
    }
    p{
      color: $white;
      font-weight: 200;
      font-size: 14px;
      margin-top: 30px;
      margin-bottom: 25px;
    }
    .btn-primary{
      background: #FCDD34;
      color: #393939;
      font-size: 13px;
      box-shadow: none;
      padding: 10px 25px;
      font-weight: 600;
    }
  }
}

.side-box{
  width: 100%;
  float: left;
  img{
    width: 100%;
    position: relative;
    top: -65px;
  }
}
.no-account{
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 25px;
  .btn-primary{
    background: transparent;
    color: #148fce;
    border: 2px solid #148fce;
  }
}

.login-body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .copyright{
    text-align: center;
    font-size: 13px;
    position: relative;
    bottom: -13px;
    color: #b3b3b3;
  }
}
