<div class="login-body">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div class="row">
        <div class="left-box">
          <div class="top-box">
            <h3>The Chat application that can connect you in a while.</h3>
            <p>Communicate, collaborate, and reach consensus. Use Falcon to keep up with your team.</p>
            <button class="btn btn-primary">Start Now</button>
          </div>
        </div>
        <div class="side-box">
          <img src="assets/images/login-side.png">
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="login-box">
          <div class="login-inner">
            <img src="assets/images/login-logo.png">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your Email" name="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your Password" name="email">
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6">
                <p class="forgot">Forgot Password?</p>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" [routerLink]="['/homepage']">Login</button>
              </div>
            </div>
            <div class="no-account">
              <div class="row">
                <div class="col-sm-6">
                  <p class="forgot">Need an Account?</p>
                </div>
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary" [routerLink]="['/homepage']">Signup</button>
                </div>
              </div>
            </div>
          </div>
          <p class="copyright">&copy; Copyright Falcon | All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
