<router-outlet></router-outlet>


<script>
  if('serviceWorker' in navigator){
    navigator.servceWorker
      .register('./service-worker.js', {scope: './'})
      .then(function (registration) {
        console.log("Service Worker Registered", registration)
      })
      .catch(function (err) {
        console.log("Service Worker Failed to Registered", err);
      })
  }
</script>
