<div class="sidebar" slimScroll [options]="opts" [scrollEvents]="scrollEvents">
  <div class="side-head">
      <h6>@ChainTool</h6>

      <div ngbDropdown class="d-inline-block drop-menu">
        <img src="assets/icons/more.svg" id="dropdownBasic1" ngbDropdownToggle>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Change Team Name</button>
          <button class="dropdown-item">New Team</button>
        </div>
      </div>
    </div>

  <div class="side-search">
    <input type="text" class="form-control" placeholder="Search User">
  </div>

  <!--channels-->
  <div class="bar-head">
    <h6><img src="assets/icons/internet.svg" class="head-icon">Channels</h6>
    <img src="assets/icons/add.svg" class="add-icon" [routerLink]="['/channel']">
  </div>
  <div class="channel-list">
      <h5>Developers</h5>
      <h5>Designers</h5>
      <h5>Business</h5>
      <h5>Town Hill</h5>
  </div>


  <!--groups-->
  <div class="bar-head">
    <h6><img src="assets/icons/group.svg" class="head-icon">Groups</h6>
    <img src="assets/icons/add.svg" class="add-icon" [routerLink]="['/group']">
  </div>
  <div class="channel-list group-list">
    <h5>Backend Developer</h5>
    <h5>Front-End Developer</h5>
    <h5>Morning</h5>
    <h5>Falcon</h5>
  </div>


<!--chatlist-->
<div class="bar-head">
  <h6><img src="assets/icons/flash.svg" class="head-icon">Direct Message</h6>
  <!--<img src="assets/icons/add.svg" class="add-icon">-->
</div>
<div class="channel-list direct-list">
  <h5>Jordan Barrett</h5>
  <h5>Kit Butler</h5>
  <h5>Matt Trethe</h5>
  <h5>RJ King</h5>
  <h5>Ton Heukels</h5>
  <h5>Piero Mendez</h5>
  <h5>Niels Trispel</h5>
</div>
</div>
