@import "../../assets/custom-css/variable";
@import "../../assets/custom-css/bacic";

.sidebar {
  width: 220px;
  height: 100vh;
  background: #fdfdfd;
  border-right: 1px solid #f9f9f9;
  position: fixed !important;

  .side-search{
    width: 100%;
    padding: 6px;
    input{
      border-radius: 70px;
      height: 32px;
      font-size: 13px;
    }
  }
  .side-head {
    background: #f7f7f7;
    width: 100%;
    padding: 14px 10px;
    h6 {
      color: #5f5f5f;
      margin: 0px;
    }
    img {
      width: 100%;
      max-width: 16px;
      float: right;
      position: relative;
      top: -17px;
    }
    .drop-menu{
      float: right;
      .dropdown-menu{
        left: 46px;
        border-radius: 0px;
        box-shadow: -2px 5px 11px rgba(0, 0, 0, 0.08);
        font-size: 14px;
        padding: 10px;
        top: 38px;
        .dropdown-item{
          padding: 5px;
          &:hover, &:active, &:focus{
            background-color: #f7f7f7;
            cursor: pointer;
            outline: 0;
            color: #292b2c;
          }
        }
      }
    }
  }

  .bar-head {
    width: 100%;
    //background: #d8d8d8;
    padding: 8px 10px;
    h6 {
      color: #656565;
      margin: 0px;
      font-weight: 500;
      text-transform: uppercase
    }
    img.add-icon {
      width: 100%;
      max-width: 14px;
      float: right;
      position: relative;
      top: -17px;
      &:hover{
        cursor: pointer;
      }
    }
    img.head-icon{
      width: 100%;
      float: left;
      max-width: 17px;
      margin-right: 9px;
    }
  }
  .channel-list{
    width: 100%;
    padding: 10px 0px;
    h5{
      color: #545454;
      font-size: 15px;
      font-weight: 400;
      margin: 0px;
      padding: 8px 0px;
      padding-left: 36px;
      &:hover{
        //border-left: 4px solid #148fce;
        background: rgba(20, 143, 206, 0.05);
        cursor: pointer;
      }
    }
  }
}
