<div class="chat-header">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
        <div class="chat-img">
          <img src="assets/images/head-image.jpg">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h5 class="second-user-name">Nina Dobrev (Kayo)</h5>
        <p class="second-user-status">Diets are hard because I get hungry</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="search-box">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="col-sm-1">
      <img src="assets/icons/menu.svg" class="right-bar">
    </div>
  </div>
</div>
</div>
