@import "../../assets/custom-css/variable";
@import "../../assets/custom-css/bacic";

.chat-header{
  width: 100%;
  float: left;
  min-height: 80px;
  padding: 10px;
  background: rgba(20, 143, 206, 0.01);
  border-bottom: 1px solid #f5f5f5;
  //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  .chat-img{
    width: 100%;
    max-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .second-user-name{
    position: relative;
    width: 100%;
    font-size: 17px;
    top: 8px;
    color: #656565;
  }
  .second-user-status{
    position: relative;
    top: 8px;
    font-size: 13px;
    font-style: italic;
    color: #777777;
  }
  .right-bar{
    width: 100%;
    max-width: 20px;
    float: right;
    position: relative;
    top: 18px;
  }
  .search-box{
    width: 100%;
    padding: 8px 10px;
    input{
      border-radius: $border-radius;
      background: url(/assets/icons/search.svg);
      background-size: 19px;
      background-repeat: no-repeat;
      background-position: 95%;
    }
  }
}
